[user]
	name = Tine Kondo
	email = kondotine@gmail.com
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[alias]
	st = status
	br = branch
	rb = rebase
	rbi = rebase -i
	rba = rebase --abort
	rbc = rebase --continue
	rbid = rebase -i head~2
	rbit = rebase -i head~3
	rbir = rebase -i --root
	co = commit
	cp = cherry-pick
	cpa = cherry-pick --abort
	cpc = cherry-pick --continue
	ck = checkout
	fo = fetch origin
	fu = fetch upstream
	po = push origin
	poc = push origin HEAD
	pocf = push origin HEAD --force-with-lease
	ckm = checkout master
	ckmn = checkout main
	ckd = checkout develop
	ckz = !git checkout $(git rev-list --max-parents=0 HEAD)
	ckb = checkout -b
	ckbz = !git checkout -b $(git rev-list --max-parents=0 HEAD)
	com = commit -m
	coa = commit --amend
	coane = commit --amend --no-edit
	coanef = !git coane && git pocf

	rbm = rebase master
	rbmn = rebase main
	rbom = rebase origin/master
	rbomn = rebase origin/main
	rbum = rebase upstream/master
	rbumn = rebase upstream/main
	rbod = rebase origin/develop

	prbom = pull origin master --rebase
	prbomn = pull origin main --rebase
	prbum = pull upstream master --rebase
	prbumn = pull upstream main --rebase
	prbod = pull origin develop --rebase
	prbud = pull upstream develop --rebase

	rpo = remote prune origin
	rpu = remote prune upstream
	rhod = reset --hard origin/develop
	rhom = reset --hard origin/master
	rhomn = reset --hard origin/main
	rhum = reset --hard upstream/master
	rhumn = reset --hard upstream/main

	amc = am --continue
	ama = am --abort
	ams = am --skip
	amr = am --3way --ignore-space-change --keep-cr --reject
	
	addu = add --update
	adda = add -A
	
	upod = !git fo && git stash && git rbod && git stash pop
	upom = !git fo && git stash && git rbom && git stash pop
	upomn = !git fo && git stash && git rbomn && git stash pop
	
	hist = log --pretty=format:'%Cred%h%Creset -%C(magenta)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset' --graph --date=short
[core]
	autocrlf = input
	editor = code --wait
[rerere]
	enabled = true
